<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li role="presentation" class="left" id="big-banner"><h2>EmailSender</h2></li>
    <li role="presentation" class="left" id="small-banner"><h4>EmailSender</h4></li>

    <% if current_user %>
      <li role="presentation" class="right" id="text">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
      <li role="presentation" class="right" id="icon">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        <% end %>
      </li>

      <li role="presentation" class="right" id="text">
        <%= link_to "Edit Account", edit_user_registration_path %>
      </li>
      <li role="presentation" class="right" id="icon">
        <%= link_to edit_user_registration_path do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <% end %>
      </li>

      <li role="presentation" class="right" id="text">
        <%= link_to "Home", messages_path %>
      </li>
      <li role="presentation" class="right" id="icon">
        <%= link_to messages_path do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <% end %>
      </li>

      <% if current_user.admin == true %>
        <li role="presentation" class="right" id="text">
          <%= link_to "Go to Admin Panel", rails_admin_path %>
        </li>
        <li role="presentation" class="right" id="icon">
          <%= link_to rails_admin_path do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <% end %>
        </li>
      <% end %>

    <% else %>
      <li role="presentation" class="right" id="text">
        <%= link_to "Log In", new_user_session_path %>
      </li>
      <li role="presentation" class="right" id="icon">
        <%= link_to new_user_session_path do %>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>



        