<nav class="navbar navbar-default">
  <ul class="nav nav-pills">
    <li role="presentation" class="left"><h2>EmailSender</h2></li>
    <% if current_user %>
      <li role="presentation" class="right">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </li>
      <li role="presentation" class="right">
        <%= link_to "Edit Account", edit_user_registration_path %>
      </li>
      <li role="presentation" class="right">
        <%= link_to "Home", messages_path %>
      </li>
      <% if current_user.admin == true %>
        <li role="presentation" class="right">
          <%= link_to "Go to Admin Panel", rails_admin_path %>
        </li>
      <% end %>
    <% else %>
      <li role="presentation" class="right">
        <%= link_to "Log In", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>