<div class="header">
  <%= render "header" %>
</div>

<div id="flash-message">   
  <%= render "flash" %>
</div> 

<div id="new-message-banner">
  <h3>Send A Message To DevBBQ</h3>
</div>

<div id="new-message">
  <%= render "new_message" %>
</div>

<div id="chart">
  <%# column_chart Message.group_by_hour_of_day(:created_at, format: "%l %P").count %>
  <%# column_chart Message.group_by_day(:created_at).count %>
  <%= column_chart Message.where(user_id: current_user.id).group_by_period(:day, :created_at).count %>
</div>

<div id="switch-btn-wrap">
  <button id="switch-btn">View/Hide All Messages Sent</button>
</div>

<div id="messages">
  <%= render @messages %>
</div>
